body {
  padding: 1rem;
  font-family: Avenir, Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: white;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  height: 4rem;
}

.logo {
  max-width: 5%;
}

nav li a:hover {
  list-style: none;
}

nav li:hover {
  font-weight: bold;
  border-bottom: black solid 2px;
  padding-bottom: 1rem;
}

li a:link {
  color: #000;
  text-decoration: none;
}
li a:visited {
  color: #000;
  text-decoration: none;
}
li a:hover {
  font-weight: bold;
  border-bottom: black solid 2px;
  padding-bottom: 1rem;
}
li a:active {
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#current {
  font-weight: bold;
  border-bottom: black solid 2px;
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
  order: -2;
  align-self: center;
}

.gridnameandprice {
  margin-top: auto;
}

.productsGrid {
  font-size: 0.8rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.brandChosen {
  font-size: 3rem;
}

.price {
  font-size: 1rem;
}

.newPrice {
  font-size: 1rem;
}

article {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  margin: none;
}

.soldOut {
  opacity: 50%;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: gray;
  font-size: 1.3rem;
  padding: 1rem;
}

.saleBox {
  background-color: red;
  opacity: 70%;
  padding: 0.5rem;
  order: -1;
  font-size: large;
  display: grid;
}

.saleBox p {
  margin: 0;
  justify-self: center;
}

.discounted {
  color: red;
  text-decoration: line-through;
  margin: 0 0 0 1rem;
}

.subtle {
  color: gray;
}

article p {
  margin: 0.25rem 1rem 1rem;
  justify-self: end;
}

article h1 {
  margin: 1rem 1rem 0;
}

article ul {
  margin: 0 0 1rem;
}

article button {
  align-items: center;
  border: none;
  font-size: 1.2rem;
  margin-top: auto;
  background-color: black;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}

ol {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

ol li {
  list-style: none;
  padding: 3% 1% 3% 1%;
  font-size: 1.2rem;
}

.letter {
  font-size: 4rem;
}

.brandGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.brandGrid a {
  padding: 1rem;
  border-bottom: solid #e6e6e6 2px;
  padding: 1rem;
}

section a:link {
  color: #000;
  text-decoration: none;
}
section a:visited {
  color: #000;
  text-decoration: none;
}
section a:hover {
  font-weight: bold;
  background-color: whitesmoke;
  font-weight: bold;
}

section a:active {
  text-decoration: none;
}

.product select {
  min-width: 100px;
  background-image: url(http://www.w3.org/2000/svg);
}

.producttext {
  padding: 2rem;
  grid-column: span 2/6;
}

.productname {
  font-weight: bold;
  font-size: 1.5rem;
}

.gridshowproduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.gridshowproduct img {
  grid-column: span 1/3;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  color: var(--input-color);
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

label {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-around;
  align-items: center;
}

label p {
  font-weight: bold;
  font-size: 1.2rem;
}

.addtobasket {
  background-color: whitesmoke;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.addtobasket button {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

.breadcrums li {
  font-size: 1rem;
}

.breadcrums a:hover {
  border-bottom: none;
}

article span {
  font-weight: bold;
  font-size: 1rem;
}

.productinfo p {
  margin: 0.25rem 0rem 1rem;
}

article h2 {
  font-size: 1rem;
}

article h1 {
  margin: 1rem;
}

.gridshowproduct img {
  grid-column: span 3/4;
}

.priceproductshow {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  .gridshowproduct {
    display: flex;
    flex-direction: column;
  }
}
