body {
  padding: 1rem;
  font-family: Avenir, Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: white;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  height: 4rem;
}

a:link {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  border-bottom: black solid 2px;
  padding-bottom: 1rem;
}
a:active {
  text-decoration: none;
}

nav li {
  list-style: none;
  padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#current {
  font-weight: bold;
  border-bottom: black solid 2px;
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
}

.productsGrid {
  font-size: 0.8rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.brandChosen {
  font-size: 3rem;
}

.price {
  font-size: 1rem;
}

.newPrice {
  font-size: 1rem;
}

article {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  margin: none;
}

.soldOut {
  opacity: 50%;
}

.soldOutBox {
  position: absolute;
  background-color: gray;
  height: 5rem;
  width: 10rem;
  font-size: large;
  display: grid;
  align-items: center;
  margin-left: 5rem;
  margin-top: 10rem;
}

.soldOutBox p {
  margin: 0;
  justify-self: center;
}

.saleBox {
  background-color: red;
  opacity: 70%;
  padding: 0.5rem;
  position: absolute;
  font-size: large;
  display: grid;
}

.saleBox p {
  margin: 0;
  justify-self: center;
}

.salePrice {
  color: red;
  text-decoration: line-through;
  margin: 0 0 0 1rem;
}

.subtle {
  color: gray;
}

article .imgcontainer {
  order: -1;
  align-self: center;
}

article p {
  margin: 0.25rem 1rem 1rem;
  justify-self: end;
}

article h1 {
  margin: 1rem 1rem 0;
}

article ul {
  margin: 0 0 1rem;
}

article button {
  background: black;

  align-items: center;
  border: none;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
  margin-top: auto;
}

ol {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

ol li {
  list-style: none;
  padding: 3% 1% 3% 1%;
  font-size: 1.2rem;
}

.letter {
  font-size: 4rem;
}

.brandGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.brandGrid div {
  padding: 1rem;
  border-bottom: solid #e6e6e6 2px;
}

a.brandlink:link {
  color: #000;
  text-decoration: none;
}
a.brandlink:visited {
  color: #000;
  text-decoration: none;
}
a.brandlink:hover {
  font-weight: bold;
}
a.brandlink:active {
  text-decoration: none;
}
